<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-8">
			<label> Search: <input ng-model="searchText"> </label>
		</div>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-9">
			<h4> Families </h4>
			<div class="clickable" ng-repeat="family in families | filter:filterFamilies" ng-click="selectFamily(family.id)">
				{{family.family}}
			</div>
			
			<br>
			
			<h4> People </h4>
			<div class="clickable" ng-repeat="person in people | filter:searchText" ng-click="selectPerson(person.id)">
				{{person.firstname}} {{person.lastname}}
			</div>
		</div>
	</div>
</div>